* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Apercu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  height: 75px;
  border-top: 5px solid #CE0B24;
  border-bottom: 1px solid #C4C4C4;
}

.inner {
  width: 1008px;
  margin: 0px auto;
}

.header .links {
  display: block;
  float: right;
  padding: 24px 29px 0px 10px;
  font-size: 16px;
  line-height: normal;
}

.header .links a {
  display: inline-block;
  color: #7C7C7C;
  text-decoration: none;
  margin-left: 13px;
}

.header .links a:hover {
  display: inline-block;
  color: #3B3A3A;
  text-decoration: none;
  margin-left: 13px;
}

.header .logo {
  position: relative;
  top: 14px;
  left: 4px;
  display: inline;
  margin: 0px 0px;
  width: 40px;
  height: 40px;
  transition: opacity 500ms;
}

.header .logo:hover {
  opacity: 0.60;
}

a.redButton {
  display: inline-block;
  color: #6E6C6C;
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #CE0B24;
  padding: 10px 0px;
  width: 200px;
  border-radius: 200px;
  margin-top: 33px;
  transition: all 500ms;
  text-align: center;
}

a.redButton:hover {
  background: #CE0B24;
  color: white;
  text-decoration: none;
}